@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>
    Welcome to the Library Management System, a comprehensive platform designed to revolutionize 
    the way libraries operate and serve their patrons. Our mission is to bridge the gap between 
    traditional library management and modern technology, offering an intuitive and user-friendly 
    system for both library staff and users.
</p>

<div class="text-center">
    <h2 class="display-4">Who We Are</h2>
    <p>
        We are a passionate team of innovators and developers who believe in the power of knowledge 
        and the importance of libraries in our communities. Our goal is to empower libraries with
        the tools they need to thrive in today’s digital age, ensuring they remain a vital resource 
        for learning, research, and personal growth.
    </p>
</div>

<div class="text-center">
    <h2 class="display-4">Our Vision</h2>
    <p>
        At the heart of our efforts is a vision to create a seamless library experience for everyone. 
        We aim to make libraries more accessible, efficient, and enjoyable by leveraging technology 
        to simplify processes like searching for books, borrowing, and managing inventories.
    </p>
</div>
