@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Library Management API</h1>
    <p>Welcome to the Library Management System, 
        your one-stop platform for efficient and hassle-free library management. 
        This system is designed to simplify the way users interact with libraries by providing easy access to books and
        seamless management for both library staff and patrons.</p>
</div>
<div class="text-center">
    <p>
        The Library Management System allows you to browse, borrow, and manage books effortlessly. 
        Whether you’re a library member looking for your favorite book or a librarian managing daily operations,
        this system is here to streamline the process for you.
    </p>
</div>
